body 
{
  background-color: darkgrey; 
}

h1
{
  color: black; 
  text-align: center;
    font-family: Arial, sans-serif;
}

h3 {
  color: black; 
  text-align: center;
    font-family: Arial, sans-serif;
}